// Place all the styles related to the Sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  width: 90%;
}

tr, td {
  border: 1px solid black;
  height: 20px;
}

th {
  text-align: left;
  height: 25px;
}
